@tailwind base;
@tailwind components;
@tailwind utilities;

.filepond--credits {
  display: none;
}

.file-wrapper {
  width: 18rem;
  height: 9rem;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s .25s;
}

.file-wrapper .filepond--panel-root {
  background-color: transparent;
  border: 2px solid #2c3340;
}

.file-wrapper .filepond--drop-label {
  color: #c7ccd8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #313233;
  border-radius: 5px;
}
